html {
	overflow: hidden;
}

html, body, .bod {
	height: 100vh;
	margin: 0px;
}

body {
	overflow: scroll;
}

#middle {
	margin: 0px;
	margin-top: 4em;
	text-align: center;
}

table, .table {
	width: 50%;
}

h1 {
	font-size: 2em;
}

.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar-brand {
	letter-spacing: .1em;
}

nav a:hover {
	font-weight: normal;
}

#userbox {
	position: absolute;
	right: 0px;
	top: 0px;
}

#usermenu {
	position: absolute;
	top: 35px;
	right: 35px;
	padding-left: 3px;
	background: rgb(240, 240, 240);
	border: 4px solid rgb(34, 34, 34);
	box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, .4);
	z-index: -2;
	transition: .3s;
}

.showusermenu {
	opacity: 1;
	width: 20em;
	height: 7em;
	font-size: 1em;
}

.hideusermenu {
	opacity: 0;
	width: 0;
	height: 0;
	font-size: 0;
}

#usermenu a:hover {
	text-decoration: underline;
}

#usermenu ul {
	list-style: none;
	padding: 4px;
}

#usercircle {
	background-color: lightgray;
	height: 80px;
	width: 80px;
	background-size: cover;
	border-radius: 60px;
	border: 8px solid rgb(34, 34, 34);
	box-shadow: inset 0 0 20px rgba(0,0,0,.8);
	transition: .1s;
	z-index: 10;
}

#usercircle:hover {
	box-shadow: inset 0 0 10px rgba(0,0,0,.1);
}

.row.content {
	height: 100%;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
	display: inline-block;
	width: 100%;
  background-color: #555;
  color: white;
  padding: 15px;
}

.userform {
	line-height: 3.5em;
}

.form-control {
	border: none;
	border-bottom: 1px solid rgb(200,200,200);
	border-radius: 0px;
	box-shadow: none;
	transition: .2s;
}

.form-control:focus {
	border-bottom: 1px solid rgb(150,150,150);
	font-weight: 700;
	box-shadow: 0 4px 4px -4px gray;
}

#file_input {
	border-radius: 0px;
	height: 3.5em;
	transition: .5s;
	background-color: blue;
	color: red;
}

button:focus {
	outline:0 !important;
}

.btn {
	border-radius: 0px;
	height: 3.5em;
	width: 5em;
	transition: .5s;
}

.submitbutton:before{
	content: 'Submit';
}

.updatebutton:before{
	content: 'Update';
}

.btn:hover {
	border-radius: 50px;
	width: 3.5em;
	height: 3.5em;
}

.submitbutton:hover:before, .updatebutton:hover:before {
	font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  content: "\e013";
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	transition: .2s;
}

.newsshelf {
	padding: 1em;
}

.newspaperbox {
	overflow: hidden;
	display: inline-block;
	margin: .5em;
	width: 9em;
	height: 13em;
	text-align: center;
	box-shadow: 1px 1px 4px black;
	background-image: url("http://media.istockphoto.com/vectors/seamless-newspaper-background-vector-id539964252?s=2048x2048");
	background-size: 20em;
	background-position: left;
	transition: .6s;
}

.invisible, .assignmentbox .invisible {
	background-color: rgba(0,0,0,0);
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	transition: .1s;
}

.newspaperbox:hover {
	background-size: 30em;
	background-position: center;
}

.nplabel {
	color: white;
	position: relative;
	padding: .5em;
	bottom: 0px;
	height: 4em;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
	transition: .2s;
}

.fullarticle {
	background: white;
	height: 30em;
	width: 90%;
}

.assignmentshelf {
	padding: 1em;
}

.assignmentbox {
	overflow: hidden;
	display: inline-block;
	margin: .5em;
	width: 9em;
	height: 13em;
	text-align: center;
	box-shadow: 1px 1px 4px black;
	background-image: url("http://media.istockphoto.com/photos/scholarship-application-form-on-desk-picture-id618529040");
	background-size: 20em;
	background-position: left;
	transition: .6s;
}

.assignmentbox:hover {
	background-size: 30em;
	background-position: bottom;
}

.assignmentbox a {
	color: #ffab91;
	text-shadow: 2px 0 8px black;
}

.alabel {
	color: white;
	position: relative;
	padding: .5em;
	bottom: 0px;
	height: 7em;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	transition: .2s;
	overflow: hidden;
}

.fullassignment {
	background: white;
	height: 30em;
	width: 90%;
}

/* Adjustments for small screens */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
		height: auto;
	}
}
