html {
	overflow: hidden;
}

html, body, .bod {
	height: 100vh;
	margin: 0px;
}

body {
	overflow: scroll;
}

#middle {
	margin: 0px;
	margin-top: 4em;
	text-align: center;
}

h1 {
	font-size: 2em;
}

.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar-brand {
	letter-spacing: .1em;
}

#usercircle {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 80px;
	width: 80px;
	background-size: cover;
	border-radius: 60px;
	border: 8px solid rgb(34, 34, 34);
	box-shadow: inset 0 0 15px rgba(0,0,0,.8);
	transition: .2s;
}

#usercircle:hover {
	box-shadow: inset 0 0 5px white;
}

#userbox {
	position: absolute;
	text-align: left;
	width: 10px;
}

.row.content {
	height: 100%;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
  background-color: #555;
  color: white;
  padding: 15px;
}

#formsearch {
	line-height: 3.5em;
}

.form-control {
	border: none;
	border-bottom: 1px solid rgb(200,200,200);
	border-radius: 0px;
	box-shadow: none;
	transition: .2s;
}

.form-control:focus {
	border-bottom: 1px solid rgb(150,150,150);
	font-weight: 700;
	box-shadow: 0 4px 4px -4px gray;
}

.btn {
	border-radius: 0px;
	height: 3.5em;
	transition: .3s;
}

.btn:before{
	content: 'Submit';
}

.btn:hover {
	border-radius: 50px;
	width: 3.5em;
	height: 3.5em;
}

.btn:hover:before{
	font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  content: "\e013";
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	transition: .2s;
}

/* Adjustments for small screens */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
		height: auto;
}
