
{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block content %}
  <h1>Your Profile</h1><br />
  <form id="formsearch" class="form-inline" method="POST" action="/submit_form/">
    <h4>Modify Account Details</h4>
    <span class="glyphicon glyphicon-user"></span>
    <input class="form-control" type="text" name="username" placeholder="Username"><br />
    <span class="glyphicon glyphicon-pencil"></span>
    <input class="form-control" type="text" name="full-name" placeholder="Full name"><br />
    <button id="updatebutton" class="btn btn-primary" onmouseover="hoverSubmit()" type="submit"></button>
  </form>
{% endblock %}
