{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block content %}

  <h1>Assignments</h1>
  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>Due Date</th>
        <th>Title</th>
        <th>Description</th>
        <th>Upload Link</th>
        <th>Uploaded</th>
      </tr>
      {% for (aid, title, description, due, uploaded) in assignments %}
      <tr>
        <td>{{due}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td><a href="http://www.rttportal.com/upload/{{sid}}/{{gid}}/{{aid}}/5739475839475">Upload Document</a></td>
        {% if uploaded == "No"%}
        <td>No Upload Yet!</td>
        {% else %}
        <td><a href="{{uploaded}}">Uploaded File</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>



{% endblock %}
