{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block page_specific_js %}
  <script src="{{ url_for('static', filename='js/assignments.js') }}"></script>
{% endblock %}

{% block content %}

  <h1>Assignments</h1>
  we need a way to differentiate between submitted and not-yet-submitted assignments

  <div class="assignmentshelf">

    <div id="assignmentbox">
      {% for (aid, title, description, due) in assignments %}
      <div class="assignmentbox">
        <div class="alabel">
          {{ title }}<hr />due: {{ due }}
          <br /><br />
          <a href="/upload/{{gid}}/{{aid}}/5739475839475"><span class='glyphicon glyphicon-upload'></span> Upload</a>
          <br /><br />
          click to view
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
