{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block page_specific_css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}
{% block page_specific_js %}
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
  {% if gameinfo %}
  <h1>Welcome back, {{ username }}!</h1>
  <h3>Select or join a game!</h3>
  {% else %}
  <h1>Welcome, {{ username }}!</h1>
  <p>You are not currently enrolled in any games! Enter your invitation code below to join a game!</p>
  {% endif %}
  <div class="gameshelf">
    {% for (charname, gametitle, gid) in gameinfo %}
    <a href="http://www.rttportal.com/dashboard/{{sid}}/{{gid}}">
      <div class="gamebox"><div class="gamelabel">{{gametitle}}<hr />{{charname}}</div></div>
    </a>
    {% endfor %}
    <div id="addgamebox" class="gamebox center">
      <div class="gamelabel">Add a game<br /><span id="plussign" class="glyphicon glyphicon-plus"></span></div>
      <form id="gameform" class="invisible" action="/sjoin/{{sid}}" method="get">
        <input class="form-control" type="text" name="inviteCode" placeholder="invite code"><br />
        <button class="submitbutton btn btn-primary" type="submit"></button>
      </form>
    </div>
  </div>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100590857-1', 'auto');
      ga('send', 'pageview');
  </script>

{% endblock %}
