{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block content %}

    <h1>Welcome to RTTPortal!</h1>
    <p>Use this website to learn assignment details and due dates, as well as keep up to date on daily game objectives. Reacting to the Past (RTTP) simulation games are designed to build educational communities and engage students in abstract thought outside of the classroom, and this website aims to help students remain on track of their assignments.
RTTP are simulation games based on moments of historical crises. Students are assigned character roles, which provide an outline to the stance they will be promoting throughout the simulation.</p>



{% endblock %}
