<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="../static/css/layout.css">
</head>

<body>
  Hello World!
  <form id="formsearch" class="form-inline" action="/login" method="get">
    <input class="form-control" type="text" name="name" placeholder="name">
    <input class="form-control" type="text" name="email" placeholder="email">
    <input class="form-control" type="text" name="charid" placeholder="charid">
    <button class="btn btn-primary" type="submit">Search!</button>
  </form>
</body>

</html>
