{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}
{% block page_specific_css %}
  <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}

<div class="bod">
  <div class="topbar">
    <h1>Welcome to RTTPortal!</h1>
    <p>Use this website to learn assignment details and due dates, as well as keep up to date on daily game objectives.</p>
  </div>
  <div class="splitpane container">
    <div class="row">
      <div class="infobox col-md-5">
        <p><em>Reacting to the Past</em> (RTTP) simulation games are designed
          to build educational communities and engage students in abstract
          thought outside of the classroom. <strong>This website aims to help students remain on track of their assignments.</strong>
        </p>
      </div>
      <div class="infobox col-md-5 col-md-offset-2">
        <p>RTTP are based on moments of historical crises. Students are assigned character roles,
          which provide an outline to the stance they will be promoting throughout the simulation.<p>
      </div>
    </div>
  </div>
<div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100590857-1', 'auto');
        ga('send', 'pageview');

        $( document ).ready(function() {
          $(".infobox").css("height", $(".splitpane").css("height"));
        });
    </script>

{% endblock %}
