{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block content %}

  <h1>Log In</h1>
  <form id="formsearch" class="form-inline" action="/slogin" method="get">
    <span class="glyphicon glyphicon-envelope"></span>
    <input class="form-control" type="text" name="email" placeholder="email"><br />
    <span class="glyphicon glyphicon-asterisk"></span>
    <input class="form-control" type="password" name="hp" placeholder="password"><br />
    <label class="radio-inline">
      <input type="radio" name="student" id="student" value="student"> student
    </label>
    <label class="radio-inline">
      <input type="radio" name="professor" id="professor" value="professor"> professor
    </label>
    <button class="btn btn-primary" type="submit"></span></button>
  </form>

{% endblock %}
