{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block content %}

  <h1>Log In</h1>
  <form id="formsearch" class="form-inline" action="/slogin" method="get">
    <span class="glyphicon glyphicon-envelope"></span>
    <input class="form-control" type="text" name="email" placeholder="email"><br />
    <span class="glyphicon glyphicon-asterisk"></span>
    <input class="form-control" type="password" name="hp" placeholder="password"><br />
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Student
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Profesor
      </label>
    </div>
    <button class="btn btn-primary" type="submit"></span></button>
  </form>

{% endblock %}
