{% extends "base.html" %}

{% block title %}RTTPortal{% endblock %}

{% block content %}

  <h1>Log In</h1>
  <form id="formsearch" class="form-inline" action="/slogin" method="get">
    <span class="glyphicon glyphicon-envelope"></span>
    <input class="form-control" type="text" name="email" placeholder="email"><br />
    <span class="glyphicon glyphicon-asterisk"></span>
    <input class="form-control" type="password" name="hp" placeholder="password"><br />
    <button id="submitbutton" class="btn btn-primary" onmouseover="hoverSubmit()" type="submit"></span></button>
  </form>

{% endblock %}
